.begin{
  background-image: url("Banner2.png");
  height: 300px;

}
.header{
  margin-right: 30px;
}
.nav{
  display:inline;
  margin-right: 30px;
}
.nav .li-style{
  
  margin-left: 40px;
  display:inline;
  float:right;
  padding-top: 40px;
  text-decoration: none !important;
}
.li-style1{
  margin-right: 400px;
  text-decoration: none;

}
.Center {
  text-align: left;
  color: gray;
  padding-left: 400px;
  
}
.Welcome {
  margin-left: 600px;
  margin-right: 600px;
  text-align: center;

  margin-top:30px;
}

.content{
  margin-left:600px; 
  margin-right: 600px;
  border-bottom: 1px solid #e5e5e5;
  margin-top:30px;
  height:760px;
}

.content_link{
  text-align: center;
  margin-top: 150px;
  height:100%;
  width:100%;
}

.footer{
  height: 50px;
  position: absolute;
  bottom: 0px;
  left:600px;
  right: 600px;
  text-align: center;
}

.content_link1{
  text-align: center;
  margin-top: 300px;
}
.content_link2{
  text-align: center;
}

.content_link4{
  text-align: center;
  margin-top: 100px;
}