.header{
  margin-right: 30px;
}
.nav{
  display:inline;
  margin-right: 30px;
}
.nav .li-style{
  
  margin-left: 40px;
  display:inline;
  float:right;
  padding-top: 40px;
  text-decoration: none !important;
}
.li-style1{
  margin-right: 400px;
  text-decoration: none;

}
.Center {
  text-align: left;
  color: gray;
  padding-left: 400px;
  
}
.Welcome {
  margin-left: 600px;
  margin-right: 600px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-top:30px;
}

.content{
  margin-left:600px; 
  margin-right: 600px;
  border-bottom: 1px solid #e5e5e5;
  margin-top:30px;
  height:760px;
}

.content_link{
  text-align: center;
  margin-top: 150px;
  height:100%;
  width:100%;
}

.footer{
  height: 50px;
  position: absolute;
  bottom: 0px;
  left:600px;
  right: 600px;
  text-align: center;
}

.content_link1{
  text-align: center;
  margin-top: 300px;
}
.content_link2{
  text-align: center;
}

.content_link4{
  text-align: center;
  margin-top: 100px;
}
.content_link3{

  text-align: center;
  margin-top: 260px;
}
.content .k8s1_1{
  text-indent: 50px;
}
.content .k8s1_2{
  text-indent: 100px;
}
.content .k8s1_3{
  text-indent: 150px;
}
.content .k8s1_4{
  text-indent: 200px;
}
.k8s1_color{
  color: blue;
}